.nav-menu {
  @apply fixed top-0 left-0 z-10;

  // .nav-menu__holder

  &__holder {
    @apply bg-sky-900 fixed top-0 left-0 w-screen h-screen opacity-0 pointer-events-none transition-opacity duration-300;
  }

  &.open {
    .nav-menu__holder {
      @apply opacity-40 pointer-events-auto;
    }

    .nav-menu__list {
      @apply translate-x-0;
    }

    .nav-menu__link {
      @apply bg-sky-900 rounded-lg;
      &:hover {
        @apply bg-sky-800;
      }
      &:active {
        @apply bg-sky-700;
      }
    }
  }

  // .nav-menu__list

  &__list {
    @apply bg-slate-900 p-4 h-screen overflow-y-auto transition-transform duration-300;
    min-width: 12.5rem;
    transform: translateX(-8rem);
  }

  // .nav-menu__item

  &__item {
    &:first-child {
      @apply flex justify-end;
    }
    &:not(:last-child) {
      @apply mb-4;
    }
  }

  // .nav-menu__burger
  &__burger {
    @apply relative w-10 h-10 bg-sky-600 rounded-lg transition-all duration-300;
    &:hover {
      @apply bg-sky-500;
    }
    &:active {
      @apply bg-sky-400;
    }
    span {
      @apply absolute left-2/4 w-3/4 h-0.5 bg-white -translate-x-2/4 pointer-events-none transition-all duration-300;
      &:first-child {
        @apply top-2;
      }
      &:nth-child(2) {
        @apply top-2/4 -translate-y-2/4 w-2/4;
      }
      &:last-child {
        @apply bottom-2;
      }
    }
    &.close {
      span {
        &:first-child {
          @apply rotate-45 top-2/4 -translate-y-2/4;
        }
        &:nth-child(2) {
          @apply scale-0;
        }
        &:last-child {
          @apply -rotate-45 bottom-2/4 translate-y-2/4;
        }
      }
    }
  }

  // .nav-menu__link

  &__link {
    @apply cursor-pointer flex justify-between items-center uppercase text-white transition-all font-semibold duration-300;
  }

  // .nav-menu__text

  &__text {
    @apply p-2 block w-full;
  }

  // .nav-menu__icon

  &__icon {
    @apply w-10 ml-2 p-2 bg-sky-600 rounded-lg transition-all duration-300;
    &:hover {
      @apply bg-sky-500;
    }
    &:active {
      @apply bg-sky-400;
    }
    flex: 0 0 2.5rem;

    img {
      @apply block;
    }

    // .nav-menu__icon_invert
    &_invert img {
      filter: invert(1);
    }
  }

  // .nav-menu__text

  &__text {
    @apply text-white uppercase;
  }
}
