//Theme

:root {
  --white: white;
  --black: black;
  --left-menu: #0e1011;
  --main-layout-bg: #161a1d;

  --scroll-bar-track: #fff;
  --scroll-bar-thumb: #ddd;
}

@media (prefers-color-scheme: light) {
  :root {
    --white: black;
    --black: white;
    --left-menu: #d1d8dc;
    --main-layout-bg: #bbc7cc;
  }
}

//Theme

:root {
  --default-padding: 1rem;
}
