//Theme

:root {
  --white: white;
  --black: #050c13;
  --left-menu: #0e1011;
  --main-layout-bg: #161a1d;
  --el-background: #52616d;
}

@media (prefers-color-scheme: light) {
  :root {
    --white: #050c13;
    --black: white;
    --left-menu: #d1d8dc;
    --main-layout-bg: #bbc7cc;
    --el-background: #161a1d;
  }
}

//Theme

:root {
  --default-padding: 1rem;
  --default-radius: 1rem;
  --small-radius: 0.5rem;
}
