//Theme
:root {
  --white: white;
  --global: #ffffff;
  --global-invert: #050c13;

  --main: #0e1011;
  --main-2: #161a1d;
  --main-3: #52616d;

  --second: #678299;

  --default-padding: 1rem;
  --default-radius: 1rem;
  --small-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --global: #050c13;
    --global-invert: white;

    --main: #d1d8dc;
    --main-2: #bbc7cc;
    --main-3: #161a1d;

    --second: #232b31;
  }
}

//Theme
