@import "_mixins.scss";
@import "_vars.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--notosans);
  margin: 0;
  padding: 0;
  color: var(--white);
}

a {
  color: var(--white);
  &:hover {
    text-decoration: none;
  }
}
